<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout.html }">
    
<body>

    <div layout:fragment="content">
    
        <div class="left">
            <div class="big-img">
                <img th:src="@{/img/peperoni-pizza.jpg}">
            </div>
            
        </div>
        <div class="right">
            <div class="pname">페페로니 피자</div>
            </br>
            <div class="size">
                <p>Size :</p>
                <div class="psize active">S</div>
                <div class="psize">M</div>
                <div class="psize">L</div>
            </div>
            </br>
            <div class="quantity">
                <p>Quantity</p>
                <input type="number" min="1" max="5" value="1">
            </div>
            <div class="btn-box">
                <button class="cart-btn">Add to Cart</button>
                <button class="buy-btn">Buy Now</button>
            </div>
            
        
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{ /js/main.js }"></script>
    </th:block>
    
</body>     
</html>
