<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, height=device-height, 
                   minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<div layout:fragment="content">

    <section class="container">
        <div class="WritingWrap" >
            <div class="WritingHeader" align="center">
                <h2 class="title" style="display: inline-block;"> 이벤트/할인</h2>
                <br>
                
                <div style="display: inline; float: right">
                    <button class="btn btn-outline-success" id="btnUpdate">　수정　</button>
                    <button class="btn btn-outline-danger" id="btnDelete">　삭제　</button>
                </div> 
            </div>
        </div>
        <br><br>
        
        <div class="WritingContainer">

                <div class="ArticleWritingTitle">

                        <div class="column_title">
 
                                <form id="formModify">
                                    <div style="display: none">
                                        <input id="id" name="id" class="form-control" 
                                               th:value="${ post.id }" readonly />
                                    </div>
                                    <div class="w3-row w3-border-0">	
                                    <div class="FlexableText w3-half">
                                        <text class="text_input formcontrol mx-3" 
                                                  id="title" name="title" 
                                                  style="width: 100%; height: 50px; font-size: 20pt;" 
                                                  th:text="${ post.title }" readonly></text>
                                    </div>
                                    <div class="my-2 mx-3 w3-half" style="text-align: right; height: 40px; padding-top: 15px;">
                                        <label for="author" class="form-label" style="font-size: 13pt;">관리자</label> 
                                        <input id="author" class="form-control" type="text" 
                                               name="author" th:value="${post.author}" style="display: none;" readOnly /> 
                                        <a>　[[${#temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:MM:ss')}]]</a>
                                    </div>
                                    </div>
                                    <hr/>
                                    <div class="FlexableTextArea my-3">
                                        <textarea class="textarea_input form-control mx-3" 
                                                  id="content" name="content"
                                                  style="width: 100%; height: 450px; font-size: 15pt; border-color: lightgray;" 
                                                  th:text="${post.content}" readonly></textarea>
                                    </div>
                                </form>

                        </div>

                </div>

        </div>
    </section>        
    </div><!-- layout:fragment="content" end -->
    
    <!-- 수정/삭제 -->
    <th:block layout:fragment="script" th:inline="javascript">
        <!-- Ajax를 사용하기 위한 axios 자바스크립트 라이브러리 추가 -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <script>
            const formModify = document.querySelector('#formModify');
            
            const btnDelete = document.querySelector('#btnDelete');
            btnDelete.addEventListener('click', function () {
                const result = confirm('정말 삭제하시겠습니까?');
                if (result) {
                    formModify.action = '/view/delete';
                    formModify.method = 'post';
                    formModify.submit();
                }
            });
            const btnUpdate = document.querySelector('#btnUpdate');
            btnUpdate.addEventListener('click', function () {
                const result = confirm('수정하시겠습니까?');
                if (result) {
                    formModify.action = '/view/modify';
                    formModify.method = 'get';
                    formModify.submit();
                }
            });
            
            const modalMessage = document.querySelector('#modalMessage');
            const createModal = document.querySelector('#createModal');
            const modal = new bootstrap.Modal(createModal);
            
            function createAndShowModal(msg) {
                modalMessage.innerHTML = msg;
                modal.show();
            }
            
            const updatedPostId = [[ ${ updatedId } ]];
            if (updatedPostId) { 
                // redirect attribute가 있는 경우
                createAndShowModal('포스트(#' + updatedPostId + ') 수정 성공');
            }
            
            const btnClose = document.querySelector('#btnClose');
             btnClose.addEventListener('click', function(){
                    modal.hide();
                });
        </script>

    </th:block>
</html>