<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<!--/* 메인 컨텐트가 삽입될 위치 */-->
<div layout:fragment="content">
    <div class="contentsWrap">
        <div class="loginWindow">
            <img src="img/logo.png" alt="" id="instaLogo"> <input
                type="text" placeholder="전화번호, 사용자 이름 또는 이메일" class="inlineToBlock">
            <input type="password" placeholder="비밀번호" class="inlineToBlock">
            <button class="inlineToBlock ordinaryLogin unactivatedLoginColor">로그인</button>

            <div class="horizonAndOrWrap">
                <hr class="leftHr">
                <div class="or">또는</div>
                <hr class="rightHr">
            </div>

            <a href="#" class="noneunderline">
                <button class="inlineToBlock facebookLogin">
                    <img src="img/facebook.png" alt="" class="facebookIcon">
                    Facebook으로 로그인
                </button>
            </a>

        </div>
        <div class="haveAccount">
            <p>
                계정이 없으신가요? <a href="#" class="noneunderline">가입하기</a>
            </p>
        </div>
    </div>

    <script src="in.js"></script>
    </body>
</html>
</div>
</html>