<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<!--/* 메인 컨텐트가 삽입될 위치 */-->
<div layout:fragment="content">
    <section class="login-form">
            <form th:action="@{ /view/signup}" method="post">
                <h1>회원가입</h1>
                <div class="input-area">
                    <label for="name">이름</label> 
                    <input type="text" name="name" id="name" autocomplete="off" required placeholder="이름">
                </div>
                <div class="input-area">
                    <label for="username">아이디</label>
                    <input type="text" name="username" id="username" autocomplete="off" required  placeholder="아이디">
                </div>
                <div class="input-area">
                    <label for="password">패스워드</label>
                    <input type="password" name="password" id="password" autocomplete="off" required  placeholder="비밀번호">
                    <p class="enter-guide" style="display: block; font-size: smaller;">영문, 숫자, 특수문자 조합 8자 이상으로 입력해주세요.</p>
                </div>
                <div class="input-area">
                    <label for="password check">패스워드 확인</label>
                    <input type="password" id="rePassword" autocomplete="off" required  placeholder="비밀번호 재입력">
                </div>
                <div class="input-area">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" autocomplete="off" required  placeholder="이메일">
                </div>
                <div class="input-area">
                    <label for="address">주소</label>
                    <input type="text" name="address" id="address" autocomplete="off" required  placeholder="주소">
                </div>
                <div class="input-area">
                    <label for="phone">전화번호</label>
                    <input type="text" name="phone" id="phone" autocomplete="off" required  placeholder="전화번호">
                </div>
                <div class="btn-area">
                    <button>회원가입</button>
                </div>
            </form>
        </section>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
    <script> 
    var password = document.getElementById("password")
    , rePassword = document.getElementById("rePassword");

  function validatePassword(){

    if(password.value != rePassword.value) {
      rePassword.setCustomValidity("비밀번호 불일치");
    } else {
      rePassword.setCustomValidity(''); // 오류가 없으면 메시지를 빈 문자열로 설정해야한다. 오류 메시지가 비어 있지 않은 한 양식은 유효성 검사를 통과하지 않고 제출되지 않는다.
    }
  }

  password.onchange = validatePassword;
  rePassword.onkeyup = validatePassword;
  // 비밀번호 조합
  $("#password").change(function(){
        checkPassword($('#password').val());
    });
  
    function checkPassword(password){

        var checkNumber = password.search(/[0-9]/g);
        var checkEnglish = password.search(/[a-z]/ig);
        
        if(checkNumber <0 || checkEnglish <0){
            alert("비밀번호는 숫자와 영문자를 혼용하여야 합니다.");
            $('#password').val('').focus();
            return false;
        }
        
        if(/(\w)\1\1\1/.test(password)){
            alert('비밀번호는 같은 문자를 4번 이상 사용하실 수 없습니다.');
            $('#password').val('').focus();
            return false;
        
        }
        
        if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,12}$/.test(password)){            
            alert('비밀번호는 숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
            $('#password').val('').focus();
            return false;
        }
        
        return true;
    }
    </script>
</div>
</html>